html {
  scroll-behavior: smooth;

  &.is-loading {
    *,
    *::after,
    *::before {
      cursor: wait !important;
    }
  }

  * {
    &::selection {
      // color: var(--color-black);
      // background-color: var(--color-gray-01);
    }
  }

  body {
    --body-text-color: var(--color-black);
    --body-background-color: var(--color-white);

    overscroll-behavior-y: none;

    // opacity: 1;

    // transition: opacity 1s;
    transition: color 1s 0s, opacity 0s;
  }
}

a {
  -webkit-touch-callout: none;
  color: currentcolor;
  text-decoration: none;
  outline: none;
  user-select: none;

  &:hover {
    text-decoration: underline;
  }
}
