:root {
  --initial-vh: 1vh;
  --actual-vh: 1vh;
  --font-family-heading: 'FKScreamer', -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, oxygen-sans, ubuntu, cantarell, 'Helvetica Neue', sans-serif;
  --font-family-body: 'SourceSansPro', -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, oxygen-sans, ubuntu, cantarell, 'Helvetica Neue', sans-serif;
  --font-family-mono: 'RobotoMono', -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, oxygen-sans, ubuntu, cantarell, 'Helvetica Neue', sans-serif;
  --heading-line-height: 0.9;
  --stroke-width: 2px;
  --logo-height: calc(var(--space-2xl) * 1);
  --logo-width: calc(#{$logo-width} / #{$logo-height} * var(--logo-height));
  --background-color-placeholder: var(--color-gray-01);
  --column-width: calc((100vw - var(--container-padding) * 2 - var(--gutter) * 11) / 12);
  --column-width-gutter: calc(var(--column-width) + var(--gutter));
  --column-width-2-gutter: calc(var(--column-width) + var(--gutter) * 2);
  --site-header-height: calc(var(--logo-height) + var(--container-padding) * 2);

  @include breakpoint-property(--container-padding, $container-padding);
  @include breakpoint-property(--gutter, $grid-gutter);

  @include media-breakpoint-up(sm) {
    --logo-height: var(--space-2xl);
    --site-header-height: calc(var(--logo-height) + var(--container-padding) * 2);
  }

  @include media-breakpoint-up(md) {
    --padding-bg-image: 40vh 0;
  }

  @each $key, $value in $colors {
    #{'--color-' + $key}: $value;
  }
}
