// grid breakpoints
$breakpoints: (
  xs: 0,
  sm: 768px,
  md: 992px,
  lg: 1440px,
  xl: 1960px,
  xxl: 2400px
);

// container padding
$container-padding: (
  xs: 1rem,
  sm: 3vw
);

// grid gutter
$grid-gutter: (
  xs: 1rem,
  sm: 1.25vw
);

// colors
$colors: (
  black: #1b1d1c,
  white: #fff,
  yellow: #ffe458,
  gray-01: #e5e5dc,
  gray-02: #cacac1,
  gray-03: #898983,
  gray-04: #4f4f48,
  orange: #ffa858,
);

// logo
$logo-width: 120;
$logo-height: 81;

// icons
$icon-stroke-width: 1.2px;

// z-index
$zindex-element-id-02: 200;
$zindex-element-id-01: 100;
$zindex-element-id-00: 0;

// transitions
$transition-duration: 1.5s;
$transition-duration-short: 0.15s;
$transition-duration-long: 0.8s;

// miscellaneous
$font-smoothing: antialiased;
$tap-highlight-color: transparent;
